body{
  background-color: #000054;
}
h1{
  font-family: fantasy; Stencil Std;
  color:yellow;
  -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
}
h2{
  font-family:fantasy; Stencil Std;
  color:red;
  -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
}
img{
  height:400px;
  width:500px;
}
